*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background:black;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
}

header img{
    width:150px;
    height:80px;
}

ul{
    display:flex;
    list-style:none;
    gap:35px;
}

a{
    color:white;
    text-decoration:none;
    font-size:22px;
}

.text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}
.text h1{
    font-size: 100px;
    margin-bottom: 20px;
}
.text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.container{
    width:100%;
    height:100vh;
    background-image:url('abes.jpg');
    background-size:cover;
    background-position:center;

}

footer{
    background:#111;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    padding:40px 70px;
}

/* Heading */

h2{
    font-size:42px;
    font-weight:500;
    margin-bottom:25px;
}

/* Left */

.left-links{
    display:flex;
    gap:60px;
}

.left-links div{
    display:flex;
    flex-direction:column;
}

.left-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    margin-bottom:22px;
}

/* Center */

.center{
    text-align:center;
}

.center p{
    font-size:18px;
    margin-bottom:22px;
}

.icons{
    margin-top:35px;
}

.icons i{
    font-size:28px;
    margin:0 10px;
    cursor:pointer;
}

/* Right */

.right-links{
    display:flex;
    gap:70px;
}

.right-links div{
    display:flex;
    flex-direction:column;
}

.right-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    margin-bottom:22px;
    text-align:center;
}

/* Hover */

a:hover,
.icons i:hover{
    color:orange;
}

.notice{
    background:#002147;
    color:white;
    padding:15px 0;
    font-size:20px;
    font-weight:bold;
    letter-spacing:0.5px;
}

.notice span{
    color:#ffd700;
}